### simon
/.idea/
simon.txt
files/*
!files/icd10gm.xml
!files/ops.xml
### thesis
tex/thesis/*
!tex/thesis/*.tex
!tex/thesis/*.sty
!tex/thesis/*.cls
!tex/thesis/*.bib
!tex/thesis/thesis.pdf
tex/thesis/thesis_sub.tex
tex/draft/*
!tex/draft/*.tex
!tex/draft/*.bib
!tex/draft/*.pdf
tex/beamer/*
!tex/beamer/*.tex
!tex/beamer/*.sty
!tex/beamer/*.pdf
!tex/beamer/*.png
###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
