@import "~bootstrap/scss/bootstrap";

.row {
    padding-top: 30px;
}

.nav {
    padding-top: 10px;
}

.umsteiger {
    table {
        width: 640px;
    }
    th.code {
        width: 10%;
    }
    th.split {
        width: 2%;
    }
    th.name {
        width: 39%;
    }
    .rate {
        font-weight: bold;
        padding: 18px 0 10px 4px;
    }
}

.auto-umsteiger {
    table {
        width: 160px;
    }
    th.code {
        width: 40%;
    }
    th.arrow {
        width: 20%;
    }
}

.combo-umsteiger {
    table {
        width: 800px;
    }
    th.code, td.code {
        width: 9%;
    }
    th.split, td.split {
        width: 3%;
    }
    th.name {
        width: 27.5%;
    }
}

.navbar {

    padding: 1px 0 3px 0 !important;
    margin-bottom: 18px;
    background-color: rgba(0, 0, 0, 0.05);

    .container-fluid {
        padding-left: 6px !important;
    }

    .navbar-image {
        width: 24px;
        height: 20px;
        background-image: url('../img/bfarmer1.png');
        background-repeat:no-repeat;
        &:hover {
            background-image: url('../img/bfarmer2.png');
        }
        float:left;
        margin-right: 10px;
    }

    .navbar-image-text {
        height: 20px;
        font-size: 15px;
    }
}