{% extends "base.html.twig" %}

{% block title %}Test{% endblock %}

{% block body %}
    {% if data.umsteiger|length > 0 %}
    <div class="umsteiger-search" style="overflow-y:scroll; border: 3px dotted black; padding: 2px;">
        <div style="font-weight: bold">{{ data.umsteiger[0].new }}</div>
        <div class="code-text">{{ data.umsteiger[0].new_name }}</div>
        <div style="margin-top:5px">{{ view|raw }}</div>
    </div>
    {% endif %}
{% endblock %}