{% set searchCodeAddClass = '' %}
<div class="umsteiger-search-result">
    {% if data.fwd is not defined and data.rev is not defined %}
        {% include 'search_code.html.twig' %}
    {% endif %}
    <div class="recursion-results">
        {% if data.fwd is defined %}
            <div>
                {% if data.rev is defined %}
                    {% set searchCodeAddClass = 'chrono-plus' %}
                {% else %}
                    {% set searchCodeAddClass = 'chrono' %}
                {% endif %}
                {% include 'search_code.html.twig' %}
                <div class="history-container">{{ data.fwd|raw }}</div>
            </div>
        {% endif %}
        {% if data.rev is defined %}
            <div>
                {% if data.fwd is defined %}
                    {% set searchCodeAddClass = 'hide' %}
                {% endif %}
                {% include 'search_code.html.twig' %}
                <div class="history-container">{{ data.rev|raw }}</div>
            </div>
        {% endif %}
    </div>
</div>