<div class="modal-header">
    <h5 class="modal-title" id="changeppLabel"></h5>
    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="icons-table-holder"><table class="table icons-table">
    <tbody>
        <tr>
            <td class="icon"><i class="bi bi-arrow-right-square-fill"></i></td>
            <td>Automatisch 端berleitbar von {{ year }} nach {{ prev }}.</td>
        </tr>
        <tr>
            <td class="icon"><i class="bi bi-arrow-left-square-fill"></i></td>
            <td>Automatisch 端berleitbar von {{ prev }} nach {{ year }}.</td>
        </tr>
        <tr>
            <td class="icon"><i class="bi bi-dash-square-fill"></i></td>
            <td>Automatisch 端berleitbar in beide Richtungen.</td>
        </tr>
        <tr>
            <td class="icon"><i class="bi bi-x-square-fill"></i></td>
            <td>Nicht automatisch 端berleitbar.</td>
        </tr>
    </tbody>
</table></div>