<div class="umsteiger-search-result">
    <div class="code-container">{{ code }}</div>
    <div class="name-container">{{ name }}</div>
    <div class="history-container">{{ history|raw }}</div>
</div>